* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f8ff;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #219ebc;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #219ebc;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.button-value {
  border: 2px solid #219ebc;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #219ebc;
  cursor: pointer;
}
.active {
  background-color: #219ebc;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 200px;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 100px;
    width:auto;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 0px;
    padding:0;
  }
}html{
  scroll-behavior: smooth;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),URL("./images/DSC_0032-01.jpeg");
  background-position: center;
  background-size:cover;
  position: relative;
}
nav{
  height: 100px;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #219ebc;
}
nav img{
  width: 80px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s
}
.nav-links ul li:hover::after{
  width: 100%;
}
#login{
  background-color: #fff;
  margin-left: 10px;
  border-radius: 5px;
  width: 75px;
  height: 40px;
  border:none;
  margin-right: 25px;
}
#login a{
  color: #219ebc;
  font-weight: regular;
  font-size: 15px;
  text-decoration: none;
}
nav .fa{
  display: none;
}
